aiofiles==23.2.1
fastapi==0.104.1
httpx==0.25.2
nuitka==2.8.9
pydantic==2.5.0
pydantic-settings==2.1.0
pyside6
python-dotenv
python-multipart==0.0.6
pyyaml==6.0.1
shiboken6
uvicorn[standard]==0.24.0
watchdog==3.0.0
websockets==12.0